<!DOCTYPE html>

<html class="no-js" lang="eng" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
  <!-- Required and useful meta tags -->
  <meta charset="utf-8">
  <meta content="learning project for jQuery" name="description">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>jQueryLearningProject</title>
  <link href="site.webmanifest" rel="manifest">
  <link href="icon.png" rel="apple-touch-icon">
  <!-- Place favicon.ico in the root directory -->
  <!-- Bootstrap CSS -->
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <meta content="#fafafa" name="theme-color">
  <!-- add VUE -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/my_VUEjs.js"></script>

</head>
<body>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
  your browser</a> to improve your experience and security.</p>
<![endif]-->
<!-- Add your site or application content here -->

<!--BootStrap Grid example with jQuery function -->
<hr>
<hr>
<h2>BootStrap and jQuery</h2>
<div class="container">
  <div class="row">
    <div class="col-md">
      <p></p>
    </div>
    <div class="col-md">
      <p id="firstP">This is a paragraph.</p>
    </div>
    <div class="col-md">
      <p></p>
    </div>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-lg">
      <p>This is a paragraph too.</p>
    </div>
    <div class="col-lg">
    </div>
    <div class="col-lg">
      <p id="secP">This is another paragraph.</p>
    </div>
  </div>
</div>

<button id="hideButton">Click me to hide paragraphs</button>
<button id="showButton">Click me to show some paragraphs</button>
<hr>
<!--BootStrap Grid example 2 -->
<div class="container">
  <div class="row">
    <div class="col-md">
      One of three columns
    </div>
    <div class="col-md">
      One of three columns
    </div>
    <div class="col-md">
      One of three columns
    </div>
  </div>
</div>
<hr>
<!--BootStrap Grid example 3 -->
<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>
<hr>

<hr>
<hr>
<h2>VUE</h2>
<div id="app">
  {{ message }}
  <div>
    <span v-if="seen">You see me now</span>
  </div>

  <!-- use for loop on a list of texts-->
  <div>
    <ol>
      <li v-for='todo in books.book'>
        Name: {{todo.name}} <br> Price : {{todo.price}} euro
      </li>
    </ol>
  </div>
  <br>
  <div>
    <button v-on:click="reverse">Reverse the main message.</button>
  </div>
  <br>
  <div>
    <p>Hello <span>{{username}}</span></p>
    <label for="inputName"></label><input id="inputName" v-model="username">
    <button v-on:click="saveUserName(app.username)">Save username</button>
    <!-- when the usernameChanged is not equal '' then display the next <p>, else hide it-->
    <p v-if="usernameChanged!=''">Username changed to: {{usernameChanged}}</p>
  </div>
</div>


<script src="js/vendor/modernizr-3.7.1.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
<script src="js/my_jQueryFunctions.js"></script>
<script src="js/my_VUEjs.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview')
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>

</html>

<!-- Installed packages: -->
<!--Bootstrap : npm install bootstrap --save -->
<!--jQuery : npm install jQuery --save -->
